* {
    color: white;
    background-color: black;
    
}

.calc-body {
    background-color: black;
}

body {
    display : flex;
    align-items: center;
    justify-content: center;
}

.calc-body {
    border : 2px solid white;
    border-radius: 8px;
    height: 500px;
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}

input {
    margin: 30px auto;
    width: 300px;
    height: 70px;
    background-color: black;
}

button {
    border-radius: 50%;
    padding: 20px;
    width: 60px;
    height: 60px;
    background-color: #333333;
    border : 2px solid black;
    
}

#first-row {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

#second-row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    gap: 10px;
}

#third-row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    gap: 10px;
}

#fourth-row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    gap: 10px;
}

#fifth-row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    gap: 10px;
}